.App {
  text-align: center;
  box-sizing: border-box;
}

.MuiGrid-container{
  padding: 1%;
}


.search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.search input{
  width: 100%;
  height: 25px;
}



